# Fill info and copy paste to new file named as .env, some variables have instructions on how to obtain their value and you have to be logged in as super.admin@oispahuone.com to access them

# Client ID is found here: (https://console.cloud.google.com/apis/credentials?project=get-a-room-326217), go to "OAuth 2.0 Client IDs" -> "Get A Room!" -> "Client ID"
GOOGLE_CLIENT_ID=""

# Client secret is found here: (https://console.cloud.google.com/apis/credentials?project=get-a-room-326217), go to "OAuth 2.0 Client IDs" -> "Get A Room!" -> "Client secret"
GOOGLE_CLIENT_SECRET=""

# Google Customer ID is found here: (https://admin.google.com/ac/accountsettings/profile)
GOOGLE_CUSTOMER_ID=""

# Can be left empty on development environment
CALLBACK_URL=""

# Can be left empty on development environment
FRONTEND_URL=""

# Only show users of this organization in login
HOSTED_DOMAIN="oispahuone.com"

# Database could be created for example to https://www.mongodb.com/cloud/atlas/ where you get a MongoDB
# URL after creating the DB. Values from this DB URL should be copied to DB variables below like this:
# mongodb+srv://${DB_USER}:${DB_PASSWORD}@${DB_URL}/${DB_NAME}?retryWrites=true&w=majority
# Database user
DB_USER=""

# Database name
DB_NAME=""

# Database password
DB_PASSWORD=""

# Database url
DB_URL=""

# Secret for JWT token, could be any long random string
JWT_SECRET=""
