html {
  background-color: #E3E3E3;
}

.BookingView {
  background-color: #E3E3E3;
  text-align: center;
}

.BookingView-header {
  background-color: #E3E3E3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #F04E30;
}

.BookingView-link {
  color: #61dafb;
}
