.GoogleLogin {
    text-align: left;
}

.GoogleLogin-logo {
    height: 18dp;
    padding-left: 18dp;
    padding-top: 8dp;
    padding-bottom: 8dp;
}

.GoogleLabel {
    font-size: 14px;
    justify-content: center;
}

.GoogleButton {
    height: 40dp;
    background-color: #ffffff;
}

.GoogleLogin-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.GoogleLogin-link {
    color: #61dafb;
}
