html {
    background-color: #e3e3e3;
}

.OfficeSelect {
    background-color: #e3e3e3;
    text-align: center;
}

.OfficeSelect-box {
    min-width: 200px;
}

.OfficeSelect-header {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: top;
    font-size: calc(10px + 2vmin);
    color: #f04e30;
}

.OfficeSelect-confirm {
    min-width: 150px;
    min-height: 50px;
    margin-top: 20vw;
    border-color: #f04e30;
}

.OfficeSelect-skip {
    min-width: 150px;
    min-height: 50px;
    margin-top: 10px;
    border-style: none;
    background-color: #e3e3e3;
}

.OfficeSelect-loadingScreen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
}
