name: CI

on: push

env:
    PROJECT_ID: ${{ secrets.GCR_PROJECT }}
    RUN_REGION: europe-north1
    REACT_FRONTEND_CLOUD_RUN_SERVICE_NAME: get-a-room
    NODE_BACKEND_CLOUD_RUN_SERVICE_NAME: get-a-room-node-backend

jobs:
    check-style:
        name: Check code style
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@main
            - uses: actions/setup-node@main
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm run check-style

    frontend-build:
        name: Build frontend
        runs-on: ubuntu-latest
        needs: check-style

        defaults:
            run:
                working-directory: frontend

        steps:
            - uses: actions/checkout@main
            - uses: actions/setup-node@main
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm run build:ci
            - uses: actions/upload-artifact@main
              with:
                  name: frontend-build
                  path: frontend/build

    frontend-test:
        name: Test frontend
        runs-on: ubuntu-latest
        needs: frontend-build

        defaults:
            run:
                working-directory: frontend

        steps:
            - uses: actions/checkout@main
            - uses: actions/setup-node@main
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm run test:ci

    frontend-deploy:
        name: Deploy React frontend
        # if: github.ref == 'refs/heads/dev'
        needs: frontend-test
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: frontend

        steps:
            # Checks out the repository
            - name: Checkout Repo
              uses: actions/checkout@main

            # Downloads the archived build folder into the .docker directory
            - name: Download Artifact
              uses: actions/download-artifact@main
              with:
                  name: frontend-build
                  path: frontend/.docker/build

            # Prepares the GCloud CLI with your project ID and private key
            - name: Setup gcloud CLI
              uses: google-github-actions/setup-gcloud@master
              with:
                  version: '290.0.1'
                  service_account_key: ${{ secrets.GCR_SA_KEY }}
                  project_id: ${{ secrets.GCR_PROJECT }}

            # Pushes the .docker directory to Google Cloud Build to build the Docker image and save it to Google Cloud Registry
            - name: Build & Push React frontend to Container registry
              run: |-
                  gcloud builds submit \
                    --quiet \
                    --tag "gcr.io/$PROJECT_ID/$REACT_FRONTEND_CLOUD_RUN_SERVICE_NAME:$GITHUB_SHA"
              working-directory: frontend/.docker

            # Deploy image to Cloud Run
            - name: Deploy React frontend to Cloud Run
              run: |-
                  gcloud run deploy "$REACT_FRONTEND_CLOUD_RUN_SERVICE_NAME" \
                    --quiet \
                    --region "$RUN_REGION" \
                    --image "gcr.io/$PROJECT_ID/$REACT_FRONTEND_CLOUD_RUN_SERVICE_NAME:$GITHUB_SHA" \
                    --platform "managed" \
                    --allow-unauthenticated

    backend-build:
        name: Build backend
        needs: check-style
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: backend

        steps:
            - uses: actions/checkout@main
            - uses: actions/setup-node@main
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm run lint:ci
            - run: npm run build
            - uses: actions/upload-artifact@main
              with:
                  name: backend-build
                  path: backend/build

    backend-test:
        name: Test backend
        needs: backend-build
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: backend

        steps:
            - uses: actions/checkout@main
            - uses: actions/setup-node@main
              with:
                  node-version: 16
                  cache: npm
            - run: npm ci
            - run: npm run test:ci

    backend-deploy:
        name: Deploy Node backend
        # if: github.ref == 'refs/heads/dev'
        needs: backend-test
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: backend

        steps:
            # Checks out the repository
            - name: Checkout Repo
              uses: actions/checkout@main

            # Prepares the GCloud CLI with your project ID and private key
            - name: Setup gcloud CLI
              uses: google-github-actions/setup-gcloud@master
              with:
                  version: '290.0.1'
                  service_account_key: ${{ secrets.GCR_SA_KEY }}
                  project_id: ${{ secrets.GCR_PROJECT }}

            # Pushes the .docker directory to Google Cloud Build to build the Docker image and save it to Google Cloud Registry
            - name: Build and push Node backend to Container registry
              run: |-
                  gcloud builds submit \
                    --quiet \
                    --tag "gcr.io/$PROJECT_ID/$NODE_BACKEND_CLOUD_RUN_SERVICE_NAME:$GITHUB_SHA"

            # Deploy Node backend image to Cloud Run
            - name: Deploy Node backend to Cloud Run
              run: |-
                  gcloud run deploy $NODE_BACKEND_CLOUD_RUN_SERVICE_NAME \
                    --quiet \
                    --region "$RUN_REGION" \
                    --image "gcr.io/$PROJECT_ID/$NODE_BACKEND_CLOUD_RUN_SERVICE_NAME:$GITHUB_SHA" \
                    --platform "managed" \
                    --allow-unauthenticated
